# Python artifacts
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual env
.venv/
env/
venv/

# Output files
outputs/
*.wav
*.mp3
*.json
*.txt

# Editor junk
.idea/
.vscode/
.DS_Store

# Env files
.env